div.step {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 8px;
  color: var(--primary-color);
  font-weight: 600;

  div.number {
    background: var(--primary-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
}